---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import EventsSection from '../components/EventsSection.astro'
import NewsSection from '../components/NewsSection.astro'
import GallerySection from '../components/GallerySection.astro'
import SponsorCTA from '../components/SponsorCTA.astro'
---

<BaseLayout>
  <main>
    <Hero />
    <EventsSection />
    <NewsSection />
    <GallerySection />
    <SponsorCTA />
  </main>
</BaseLayout>
