---
import './PlaceholderPage.css'

interface Props {
  title: string
}

const { title } = Astro.props
const headingId = `side-${title.toLowerCase().replaceAll(' ', '-')}`
---

<main class="placeholder-page" aria-labelledby={headingId}>
  <div class="placeholder-page-container">
    <h1 id={headingId} class="placeholder-page-title">{title}</h1>
    <p class="placeholder-page-description">Innhold kommer snart …</p>
  </div>
</main>
